<!DOCTYPE html>
<html>
<head>
	<title>CommentSystem</title>
	<style>

	#commentByID, #commentBodyID{
			height: 56px;
			font-size: 18px;
			border-right: transparent;
			border-top: transparent;
			border-left: transparent;
			border-bottom: transparent;
	}

	</style>
</head>
<body>
	<div class="header"><h3>comment</h3></div>
	<!--form method="post"-->
	 	<input  id="commentByID" type="text" placeholder="name" name="commentBy" /></br>
	 	<textarea  id="commentBodyID" rows="3" cols="50" placeholder="your comment..." name="commentBody" ></textarea></br>
	 	<button class="submitButton" id="commentSubmit" >submit</button>
	 <!--/form-->
	<div class="comments-section">
		<template>
			<h3>{cB}</h3>
		</template>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="push.js"></script>
</body>
</html>